
book/.idea/sonarlint/issuestore/8/e/8ec9a00bfd09b3190ac6b22251dbb1aa95a0579d
book/.idea/sonarlint/securityhotspotstore/1/e/1e43fa63aecd2127be034b3fb9d4caa172275714
book/.idea/sonarlint/issuestore/index.pb
/book/.idea/sonarlint/issuestore/1/e
book/.idea/sonarlint/issuestore/6/d/6d0dab1e9f9462d21b77a3497f764502b6ca6190
/book/.idea/sonarlint/issuestore/9/e
/book/.idea/sonarlint/securityhotspotstore/6/d
/book/.idea/sonarlint/securityhotspotstore/8/e
/book/.idea/sonarlint/securityhotspotstore/9/e
/book/.idea/sonarlint
