.Button {
     background-color: rgb(236, 236, 236) );
     cusror: pointer;
     border: none;
     border-radius: 5px;
     padding: 10px 20px;
     font-size: 18px;
     white-space: nowrap;
}

.Button_POSITIVE {
     background-color: rgb(46, 204, 113);
     color: white;
}

.Button_NEGATIVE {
     background-color: rgb(221, 44, 44);
     color: white;
}
